<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.button-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
		
		.button {
			margin: 0 20px;
			padding: 12px 24px;
			font-size: 16px;
			cursor: pointer;
			background-color: #4CAF50;
			color: white;
			border: none;
			border-radius: 4px;
		}
		
		.button:hover {
			background-color: #3e8e41;
		}
	</style> 
</head>
<body>
    <p><h3><center>graphical authentication</center></h3></p> 
	<div class="button-container">
		<a href="../signup"><button class="button">SIGNUP</button></a>
		<a href="../login"><button class="button">LOGIN</button></a>
		<a href="../logout"><button class="button">LOGOUT </button></a>
	</div>
</body>
</html>
