<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
</head>
<body style="background-color: rgb(5, 122, 162);">
  <h2 style="text-align: center; color: white;">Login Form</h2>
  <div style="width: 500px; margin: auto; background-color: rgb(92, 198, 234); padding: 20px; border-radius: 10px;">
    <form method="post"> 
      {% csrf_token %}
      <label for="username" style="color: white;">Username:</label><br>
      <input type="text" id="username" name="username" style="width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #333; border-radius: 4px; box-sizing: border-box;"><br>

      <label for="createpassword" style="color: white;">Password:</label><br>
      <input type="password" id="createpassword" name="createpassword" style="width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #333; border-radius: 4px; box-sizing: border-box;"><br>

      <div style="display: flex; justify-content: space-between;">
        <button type="submit" style="background-color: rgb(5, 122, 162); color: white; padding: 14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer; width: 48%;">Login</button>
        <button type="button" style="background-color: rgb(5, 122, 162); color: white; padding: 14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer; width: 48%;">Forgot Password</button>
      </div>
    </form>

    <p style="text-align: center; color: white;">Don't have an account? <a href="../signup" style="color: white;">Create an account</a></p>
  </div>
</body>
</html>
